body {
    font-family: Arial, Helvetica, sans-serif;
}

#gameover {
    display: none;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
    a {
        padding: 15px 32px;
        color: black;
        background-color: white;
        text-decoration: none;
        transform: 0.5s;
    }
    a:hover {
        border: 1px solid white;
        color: white;
        background-color: black;
        transform: 0.5s;
    }
}

#title {
    display: flex;
    h1 {
        width: 20%;
    }
    button {
        margin-top: 2rem;
        margin-left: 90rem;
        width: 6%;
        height: 5%;
        font-size: 20px;
        img {
            width: 15.5%;
            object-fit: contain;
        }
    }
}

#row1 {
    background-color: orange;
    height: 10vh;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 5px solid black;
    h1 {
        border-top: 2px dotted black;
        border-right: 2px dotted black;
        border-bottom: 2px dotted black;
        width: 2%;
        margin-left: 2rem;
        margin-top: 1.6rem;
    }
    img {
        position: absolute;
        width: 5%;
        top: 84px;
        transform: 0.5s;
        left: 10px;
    }
}

#row2 {
    background-color: lightgreen;
    height: 10vh;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 5px solid black;
    h1 {
        border-top: 2px dotted black;
        border-right: 2px dotted black;
        border-bottom: 2px dotted black;
        width: 2%;
        margin-left: 2rem;
        margin-top: 1.6rem;
    }
    img {
        position: absolute;
        width: 5%;
        top: 180px;
        left: 10px;
    }
}

#row3 {
    background-color: lightblue;
    height: 10vh;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 5px solid black;
    h1 {
        border-top: 2px dotted black;
        border-right: 2px dotted black;
        border-bottom: 2px dotted black;
        width: 2%;
        margin-left: 2rem;
        margin-top: 1.6rem;
    }
    img {
        position: absolute;
        width: 5%;
        top: 276px;
        left: 10px;
    }
}

#row4 {
    background-color: yellow;
    height: 10vh;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 5px solid black;
    h1 {
        border-top: 2px dotted black;
        border-right: 2px dotted black;
        border-bottom: 2px dotted black;
        width: 2%;
        margin-left: 2rem;
        margin-top: 1.6rem;
    }
    img {
        position: absolute;
        width: 5%;
        top: 375px;
        left: 10px;
    }
}

#row5 {
    background-color: rgb(224, 59, 224);
    height: 10vh;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 5px solid black;
    h1 {
        border-top: 2px dotted black;
        border-right: 2px dotted black;
        border-bottom: 2px dotted black;
        width: 2%;
        margin-left: 2rem;
        margin-top: 1.6rem;
    }
    img {
        position: absolute;
        width: 5%;
        top: 470px;
        left: 10px;
    }
}

#selectHorse {
    text-align: center;
}

#title-selecthorse {
    font-size: 30px;
    text-align: center;
}

#play {
    background-color: #008CBA;
    border: 2px solid #008CBA;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    &:hover {
        background-color: white;
        border: 2px solid #008CBA;
        color: #008CBA;
    }
}

#playagain {
    display: none;
    background-color: #008CBA;
    border: 2px solid #008CBA;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    &:hover {
        background-color: white;
        border: 2px solid #008CBA;
        color: #008CBA;
    }
}


/* Max left 1450px */